@import 'tailwindcss';

@theme {
  --color-primary: #161719;
  --color-primary-hover: #202123;
  --color-card-content: #4a4b4d;
  --color-accessible-green: #02b274;
  --color-red: #fa534b;
  --color-accent: #ef8354;
  --color-soft: #f7c59f;
  --color-contrast: #b5b9bc;
  --color-text-contrast: #b5b9bc;
  --color-text: #ffffff;
}

.p-dialog .p-dialog-header-icons {
  gap: 1rem;
}

.p-dialog-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.p-dialog-footer button {
  margin-right: 1rem;
}

.p-dialog-mask.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.8); /* Solid black */
}

@layer utilities {
  /* Thin and styled scrollbar */
  .thin-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #02b274; /* Customize color */
    border-radius: 9999px;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #008b5b;
  }

  /* For Firefox */
  .thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #02b274 transparent;
  }
}
