@import 'tailwindcss';

@theme {
  --color-primary: #161719;
  --color-primary-hover: #202123;
  --color-card-content: #4a4b4d;
  --color-accessible-green: #02b274;
  --color-red: #fa534b;
  --color-accent: #ef8354;
  --color-soft: #f7c59f;
  --color-contrast: #b5b9bc;
  --color-text-contrast: #b5b9bc;
  --color-text: #ffffff;
}
